@await Html.PartialAsync("_Pmodal")

<section id="sec1">sec1</section>
<section id="sec2">sec2</section>
<section id="sec3">sec3</section>
<section id="sec4">sec4</section>
<section id="sec5">
    @await Html.PartialAsync("_Ptree")sec5
</section>